img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

i{
  display: block;
}


// @keyframes deploy {
//   from {
//     max-width:0;
//   }
//   to {
//     max-width:15em;
//   }
// }
