img {
  height: 200px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
//  transition:1s all;
 // transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}


// @keyframes deploy {
//   from {
//     max-width:0;
//   }
//   to {
//     max-width:15em;
//   }
// }