section {
  display: flex;
  flex-wrap: wrap;
}
section::after {
  content: '';
  flex-grow: 999999999;
  margin: 0 auto;
  text-align: center;
}

div {
  margin: 20px;
  //background-color: violet;
  position: relative;
  display: inline-block;
}

 div:hover {
   filter: brightness(110%)
 }

.gu-mirror {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  transition: 150ms all;
  transform: scale(.5);

  // scale above isnt working with the animation below need to debug
 // -webkit-animation: wiggle 0.3s 0s infinite ease-in;
 // animation: wiggle 0.3s 0s infinite ease-in;
}

.separator {
  width: 2px !important;
  background-color: cornflowerblue;
  float: left;
  border: 2px solid cornflowerblue ;
  border-radius: 2px;
}


.gu-copy{
  opacity: .2;
}
