section {
  display: flex;
  flex-wrap: wrap;
}
section::after {
  content: '';
  flex-grow: 999999999;
}

@keyframes straightLine {
  50% {
    transform: translate3D(100px, -100px, 0);
  }
}

@keyframes flex-out {
	0% {
		color:rgba(0,0,0,0);
		width:auto;
		}
	100% {
		color:rgba(0,0,0,1);
		width:500px;
		}
	}
@keyframes flex-in {
	0% {
		color:rgba(0,0,0,1);
		width:500px;
		}
	100% {
		color:rgba(0,0,0,0);
		width:auto;
		}
	}

div {
  margin: 2px;
  background-color: violet;
  position: relative;
}

 div:hover {
   filter: brightness(110%)
 }
