/* You can add global styles to this file, and also import other style files */
.separator {
  width: 2px;
  background-color: cornflowerblue;
  float: left;
  border: 2px solid cornflowerblue ;
  border-radius: 2px;
}
